@import "bulma-custom";

.test-disabled {
  @extend .is-warning;
}

.test-failed {
  @extend .is-danger
}

.test-passed {
  @extend .is-success
}

.header {
  @extend .hero;
  @extend .is-small;
}

.header-body {
  @extend .hero-body;
  display: flex;
  align-items: center;
}

.header-title {
  @extend .title;
  margin-left: 20px
}

.logo {
  width: 40px;
  height: 40px;
}