@import "bulma-custom";

.nested-sentence {
  box-shadow: inset 0 0 2px #000000;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
}

.token-keyword {
  font-weight: bold;
}

.token-word {
  color: $grey-dark;
}

.token-highlighted {
  background-color: yellow;
}

.token-identifier {
  font-weight: bold;
}

.token-expandable {
  font-weight: bold;
}

.token-expandable.expanded::after {
  content: ':'
}

.token-expandable:hover {
  font-weight: bold;
  text-decoration: underline;
}

.token-acronym {
  text-decoration: underline;
}

.token-scenario-value, .token-field-value, .token-method-value, .token-parameter-value {
  font-weight: bold;
  color: $grey-dark
}

.token-string-literal {
  font-weight: bold;
}

.token-literal {
  font-weight: bold;
}

.token-new-line:before {
  display: block;
  content: "\A";
}

//.token-new-line:after {
//  content: "\2003";
//}

.token-indent:before {
  display: block;
}

.token-indent:after {
  content: "\2003";
}

.token-string-literal:before {
  content: open-quote;
}

.token-string-literal:after {
  content: close-quote;
}

.has-text-decoration-underline {
  text-decoration: underline;
}
