.ns-container {
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  display: inline-flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.ns-wrapper {
  position: relative;
}

.ns {
  background-color: hsl(var(--bulma-message-h), var(--bulma-message-s), calc(var(--bulma-message-background-l) - 2%));
  border: 1px solid hsla(0, 0%, 0%, 0.05);
  border-radius: var(--bulma-border-radius, 4px);
  padding: 0.5rem 1rem;
  max-width: max-content;
  margin-top: 0.25rem;
}

.ns-floating {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  min-width: max-content;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: hsl(var(--bulma-message-h), var(--bulma-message-s), calc(var(--bulma-message-background-l) - 2%));
  z-index: var(--bulma-z-index-floating, 100);
  box-shadow: 0.125rem 0.1875rem 0.1875rem 0.125rem hsla(var(--bulma-message-h), calc(var(--bulma-message-s) - 50%), calc(var(--bulma-message-background-l) - 50%), 0.2);
  border-radius: var(--bulma-border-radius-floating, 5px);
  max-width: 90vw;
}

.ns-parameters {
  max-width: max-content;
  background-color: hsl(var(--bulma-message-h), var(--bulma-message-s), calc(var(--bulma-message-background-l) - 2%));
  border: 1px solid hsl(0, 0%, 0%, 0.05);
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.space {
  white-space: pre;
  display: inline;
  width: 4px;
}

.tk-kw {
  font-weight: bold;
  text-transform: capitalize;
}

.tk-wd {
  color: var(--bulma-grey-dark);
}

.tk-hl {
  background-color: yellow;
}

.tk-id {
  font-weight: bold;
}

.tk-ex {
  font-weight: bold;
}

.tk-ex:hover {
  font-weight: bold;
  text-decoration: underline;
}

.tk-ac {
  text-decoration: underline;
  text-transform: uppercase;
}

.tk-sv, .tk-fv, .tk-ov, .tk-mv, .tk-pv {
  font-weight: bold;
  color: var(--bulma-grey-dark)
}

.tk-sl {
  font-weight: bold;
}

.tk-sl:before {
  content: open-quote;
}

.tk-sl:after {
  content: close-quote;
}

.tk-tb {
  font-weight: bold;
  white-space: pre;
  padding-left: 3em;
  box-shadow: inset 0 0 3px var(--bulma-grey-light);
  border-radius: 5px;
}

.tk-cl:before {
  content: '‘';
}

.tk-cl:after {
  content: '‘';
}

.tk-nl {
  display: table;
}

.tk-bl {
  white-space: pre;
}

.tk-bl:after {
  display: block;
  content: "\a";
}

.tk-in:after {
  content: "\2003";
}

.has-text-decoration-underline {
  text-decoration: underline;
}
