@import "../../../bulma-custom";

// Nested Sentence
.ns {
  box-shadow: inset 0 0 3px $grey-light;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
}

.tk-kw {
  font-weight: bold;
  text-transform: capitalize;
}

.tk-wd {
  color: $grey-dark;
}

.tk-hl {
  background-color: yellow;
}

.tk-hl-1 { background-color: yellow; }
.tk-hl-2 { background-color: #ffba38; }
.tk-hl-3 { background-color: lime; }
.tk-hl-4 { background-color: cyan; }
.tk-hl-5 { background-color: hotpink; }
.tk-hl-6 { background-color: #99ffcc; }
.tk-hl-7 { background-color: #66ccff; }
.tk-hl-8 { background-color: #ccaaff; }

.tk-hl-ambiguous {
  background: repeating-linear-gradient(
                  -45deg,
                  #eeeeee,
                  #eeeeee 10px,
                  #e0e0e0 10px,
                  #e0e0e0 20px
  );
}

.tk-id {
  font-weight: bold;
}

.tk-ex {
  font-weight: bold;
}

.tk-ex.expanded::after {
  content: ':'
}

.tk-ex:hover {
  font-weight: bold;
  text-decoration: underline;
}

.tk-ac {
  text-decoration: underline;
  text-transform: uppercase;
}

.tk-sv, .tk-fv, .tk-mv, .tk-pv {
  font-weight: bold;
  color: $grey-dark
}

.tk-sl {
  font-weight: bold;
}

.tk-sl:before {
  content: open-quote;
}

.tk-sl:after {
  content: close-quote;
}

.tk-tb {
  font-weight: bold;
  white-space: pre;
  padding-left: 3em;
  box-shadow: inset 0 0 3px $grey-light;
  border-radius: 5px;
}

.tk-cl:before {
  content: '‘';
}

.tk-cl:after {
  content: '‘';
}

.tk-nl {
  display: table;
}

.tk-bl {
  white-space: pre;
}

.tk-bl:after {
  display: block;
  content: "\a";
}

.tk-in:after {
  content: "\2003";
}

.has-text-decoration-underline {
  text-decoration: underline;
}
