@import "../bulma-custom";

dd.idx-failed {
  color: $danger;
  background-color: #fff5f6;
}

dd.idx-passed {
  color: $success;
  background-color: #f6fef9;
}

dd.idx-disabled {
  color: $warning;
}

dd.idx-not-executed {
  color: $grey-dark;
}

.idx {
  padding-left: 25px
}

dl.idx-failed {
  @extend .idx;

  color: $danger;
  background-color: #fff5f6;
}

dl.idx-passed {
  @extend .idx;

  color: $success;
  background-color: #f6fef9;
}

dl.idx-disabled {
  @extend .idx;

  color: $warning
}

dl.idx-not-executed {
  @extend .idx;

  color: $grey-dark
}

.idx-icon {
  font-size: 14px;
  height: 1em;
  line-height: 1em;
  width: 1em;
  margin-right: .75em;
  color: inherit;
}

dl>dt {
  font-weight: 700;
}

dt > a {
  color: inherit
}

dd > a {
  padding-left: 25px;
  color: inherit
}

dl {
  width: 100%;
  padding-left: 5px;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}